
#map_display > div{
	position:relative;
}
#map_display > div>span{
  width: 16px;
  height: 16px;
  border: 1px solid #ff9500;
  
  background-color: white;
  border-radius: 7px;
  position: absolute;
  text-align: center;
  font-weight: bold;
  font-size:11px;
  }
#map_display > div>span >a{
	color:#ff9500;
}
.section {
    color:#ff9500;
    background-color: white;
    border-radius: 10px;
    padding: 3px 0 0 7px;
    width: 20px;
    height: 20px;
    font-weight: bold;
    font-size: 11px;
    float: left;
    margin: 5px 5px 5px 5px;
}
.worked_section {
    color: white;
    background-color: #ff9500;
}
  